{% extends 'base.html' %}


{% block content %}
    {% if json_slzd %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        slzd_pics = {{ json_slzd|safe }};
        card_shirt = '{{ card_shirt.url|safe }}';
        pic_img_class_array = [];
        for (let i=0; i<slzd_pics.length; i+=1){
            let picture = {
                facePic: slzd_pics[i],
                shirtPic: card_shirt,
                showFace: false
            };
            pic_img_class_array.push(picture);
        }
    </script>

    <div class="container-fluid" id="app" >
        <div class="row">
            <div v-for="(picClass, index) in pic_img" :key="index" class="col-sm-3">
                <transition name="cards" mode="out-in">
                    <custom_img :pic_object="picClass"
                                :id="index"
                                :key="picClass.showFace"
                                @myevent="turnCard"></custom_img>
                </transition>
            </div>
        </div>

    </div>


    {% endif %}

    <script>
        Vue.component( 'custom_img', {
            delimiters: ['[[',']]'],
            props: ['pic_object',  'id'],
            data()  {
                return {
                }
            },
            template: '<img class="img-fluid img-rounded" @click="turnCard" ' +
                ':src="picToShow">',

            computed:{
                picToShow: function (){

                    if (this.pic_object.showFace)
                        return this.pic_object.facePic;
                    else
                        return this.pic_object.shirtPic;

                }
            },
            methods:{
                turnCard: function (){
                    this.$emit("myevent", this.id);
                },

            }
        });

        var vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data:
            {
                turnStarted: false,
                turned : 0,
                pic_img: pic_img_class_array,
                docState: "saved",

            },
        methods: {
            turnCard(id) {
                if (this.turned<2) {
                    this.pic_img[id].showFace = !this.pic_img[id].showFace;
                    if (this.pic_img[id].showFace)
                        this.turned++;
                    else
                        this.turned--;
                }
                if (!this.turnStarted && this.turned >= 2){
                    this.turnStarted = true;
                    setTimeout(this.turnFace,2000);

                }


            },
            turnFace() {
                for (let i=0; i<this.pic_img.length;i++)
                    this.pic_img[i].showFace = false;
                this.turned=0;
                this.turnStarted = false;

            },

        },

    })

    </script>
{% endblock %}