{% extends 'base.html' %}


{% block content %}
    {% if json_slzd %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        slzd_pics = {{ json_slzd|safe }}
        card_shirt = '{{ card_shirt.url|safe }}'

    </script>
    <div hidden="true" class="container-fluid">

        {% for pic_row in pictures_list %}
            <div class="row">
                {% for pic in pic_row %}
                    <div class="col-3">
                        {%  if pic %}
                            <img src="{{ pic.card.url }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}


    </div>
    <div class="container-fluid" id="app">
        <div class="row">
            <div v-for="(face_pic, index) in pic_img" class="col-sm-3">
                <custom_img :face_pic="face_pic" :shirt_pic="shirt_img" :id="index"></custom_img>
            </div>
        </div>



    </div>


    {% endif %}

    <script>
        Vue.component( 'custom_img', {
            delimiters: ['[[',']]'],
            props: ['face_pic', 'shirt_pic', 'id'],
            data()  {
                return {
                    showFace: false,
                    showPic: this.shirt_pic,

                }
            },
            template: '<img class="img-fluid img-rounded" @click="turnCard" :src="showPic">'
            ,
            methods:{
                turnCard: function (){
                    console.log(this.id)
                    this.showFace = !this.showFace;
                    if (this.showFace){
                        this.showPic = this.face_pic;
                    }
                    else{
                        this.showPic = this.shirt_pic;
                    }
                }
            }
        });

        var vm = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data:
            {
                product: 'Socks',
                description: "Наверно это разные носки",
                displayImage: slzd_pics,
                pic_img: slzd_pics,
                showCard: true,
                shirt_img: card_shirt
            },
        methods: {
            animateCard: function () {
                if (this.showCard)
                {
                    this.showCard=!this.showCard;
                    this.displayImage=this.shirt_img;
                }
                else
                {
                    this.showCard=!this.showCard;
                    this.displayImage=this.pic_img;
                }


            }

        }

    })

    </script>
{% endblock %}