{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form %}
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript">

        </script>

        <div id="app" class="container">
            <p>[[ message ]]</p>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {%  regroup form by field.group as field_groups %}
                <div class="row" valign="middle">
                    {% for field in field_groups.0.list %}
                        <div class="col-3">
                            {{ field|as_crispy_field }}
                        </div>
                    {% endfor %}

                </div>
                {% for field in field_groups.1.list %}
                <div class="row">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
            <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>



    {% else %}
        <p> Нет элементов для отображения </p>
    {% endif %}

<script>


    Vue.component('list-item-custom', {
        delimiters: ['[[',']]'],
        props: ['value_of_list'],
        template: '[[value_of_list]]',

    });
    var vm = new Vue({
        delimiters: ['[[',']]'],
        el: '#app',
        data: {

            message: 'Hello world',

           },
    });


</script>
{% endblock %}





